# Ejercicios Basicos Python

### Ejercicio 1
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [1]:
matricula = 1861240
mi_nombre = "Delfino"
nombre_mat = mi_nombre + str(matricula)
nombre_mat

'Delfino1861240'

### Ejercicio 2
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [2]:
n1 = int(input("Introduzca un número: " ))
n2 = int(input("Introduzca otro número: "))

print("La suma de los dos numeros es:", (n1 + n2))
print("La resta de los dos numeros es:", (n1 - n2))
print("La multiplicacion de los dos numeros es:", (n1 * n2))
print("La division de los dos numeros es:", (n1 / n2))
print("El exponente de los dos numeros es:", (n1 ** n2))

Introduzca un número: 2
Introduzca otro número: 3
La suma de los dos numeros es: 5
La resta de los dos numeros es: -1
La multiplicacion de los dos numeros es: 6
La division de los dos numeros es: 0.6666666666666666
El exponente de los dos numeros es: 8

### Ejercicio 3
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [3]:
mult3 = []

for i in range (1, 101):
    if i%3 == 0:
        mult3.append(i)
    if len(mult3) == 10:
        break
print(mult3)
suma_mult = 0

for i in mult3:
    suma_mult += i
print("\nLa suma de los multiplos es:", suma_mult)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

La suma de los multiplos es: 165

### Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.

Con una función de if else, revisar si un número es primo o no.

In [4]:
num = int(input("Introduce un número: "))

if num % 2 == 0:
  print("El numero", num," es un numero par")
else:
  print("El numero", num," es un numero impar")

cont = 0
for n in range(2, num - 1):
    if num % n == 0:
        cont = 1
        break

if cont == 1:
    print("El numero no es primo")
else:
    print("El numero es primo")

Introduce un número: 6
El numero 6  es un numero par
El numero no es primo

### Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

[Liga para dudas](https://es.stackoverflow.com/questions/408846/calculadora-con-poo-python)

In [5]:
class calculadora():
    def __init__(self, num1, num2):
        self.num1 = float(num1)
        self.num2 = float(num2)

    def suma(self):
        suma = self.num1+self.num2
        print("El resultado de la suma es:", suma)
    
    def resta(self):
        resta = self.num1-self.num2
        print("El resultado de la resta es:", resta)

    def multiplicacion(self):
        multiplicacion = self.num1*self.num2
        print("El resultado de la multiplicación es:", multiplicacion)

    def division(self):
        division = self.num1/self.num2
        print("El resultado de la división es:", division)
    
    def exponente(self):
        exponente = self.num1**self.num2
        print("El resultado del exponente es:", exponente)

num1 = input("Introduzca un numero: ")
num2 = input("Introduzca otro numero: ")

calculadora = calculadora(num1,num2)
calculadora.suma()
calculadora.resta()
calculadora.multiplicacion()
calculadora.division()
calculadora.exponente()

Introduzca un numero: 5
Introduzca otro numero: 6
El resultado de la suma es: 11.0
El resultado de la resta es: -1.0
El resultado de la multiplicación es: 30.0
El resultado de la división es: 0.8333333333333334
El resultado del exponente es: 15625.0

### Ejercicio tuplas
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [6]:
estatura = 1.68
año = 2021
es_hombre = True
c = 2 + 3j
print(type(estatura))
print(type(año))
print(type(es_hombre))
print(type(c))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [7]:
tupla = (1, 2, 3, 4, 5, 6)
print("El primer valor de la tupla es:", tupla[0])
print("El ultimo valor de la tupla es:", tupla[-1])

El primer valor de la tupla es: 1
El ultimo valor de la tupla es: 6

Añadir 3 valores de string a la tupla.

In [8]:
tupla = tupla + ("Pedro", "Juan", "Mario")
tupla

(1, 2, 3, 4, 5, 6, 'Pedro', 'Juan', 'Mario')

Verificar si una variable existe dentro de la tupla.

In [9]:
if año in tupla:
    print("Esta variable esta en la tupla")
else:
    print("Esta variable no esta en la tupla")

Esta variable no esta en la tupla

### Ejercicio listas
Crear una lista con 40 elementos aleatorios enteros.

[Liga para dudas](https://j2logo.com/python/generar-numeros-aleatorios-en-python/)

In [10]:
import random

lista = [random.randint(0,1000) for _ in range(40)]
print(lista)

[290, 974, 78, 157, 212, 332, 288, 252, 415, 133, 328, 482, 744, 725, 600, 35, 301, 652, 889, 223, 114, 332, 12, 975, 120, 711, 604, 609, 660, 432, 278, 435, 722, 707, 368, 717, 604, 113, 107, 587]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

[Liga para dudas](https://www.w3schools.com/python/python_lists_comprehension.asp)

In [11]:
def pares(listado):
    par = [i for i in listado if i%2 == 0]
    return par

def impares(listado):
    impar = [i for i in listado if i%2 !=0]
    return impar

lista_par = pares(lista)
lista_impar = impares(lista)

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [12]:
lar_par = len(lista_par)
lar_impar = len(lista_impar)
print("El largo de la lista con los numeros pares es:", lar_par)
print("El largo de la lista con los numeros impares es:", lar_impar)

El largo de la lista con los numeros pares es: 23
El largo de la lista con los numeros impares es: 17

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

[Liga para dudas](https://j2logo.com/python/ordenar-una-lista-en-python/)

In [13]:
lista_par.sort(reverse = True)
print(lista_par)
lista_impar.sort()
print(lista_impar)

[974, 744, 722, 660, 652, 604, 604, 600, 482, 432, 368, 332, 332, 328, 290, 288, 278, 252, 212, 120, 114, 78, 12]
[35, 107, 113, 133, 157, 223, 301, 415, 435, 587, 609, 707, 711, 717, 725, 889, 975]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [14]:
print("El numero maximo en la lista es:", max(lista))
print("El numero minimo en la lista es:", min(lista))
print("La suma de todos los numero de la lista es:", sum(lista))
promedio = sum(lista)/len(lista)
print("El promedio de los numeros de la lista es:", promedio)

El numero maximo en la lista es: 975
El numero minimo en la lista es: 12
La suma de todos los numero de la lista es: 17317
El promedio de los numeros de la lista es: 432.925

### Ejercicio diccionarios
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [15]:
dicc1 = {'Eloisa': 50, 'Sofia': 17, 'Juana': 72, 'Alfredo': 60, 'Josue': 20, "Octavio": 10}
print(dicc1)

{'Eloisa': 50, 'Sofia': 17, 'Juana': 72, 'Alfredo': 60, 'Josue': 20, 'Octavio': 10}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [16]:
edades = list(dicc1.values())
edades.sort()
print("Las edades acomodadas de menor a mayor son: ", edades)

Las edades acomodadas de menor a mayor son:  [10, 17, 20, 50, 60, 72]

Usando el diccionario y un loop, imprimir solo los nombres.

[Liga para dudas](https://devcode.la/tutoriales/diccionarios-en-python/)

In [17]:
i = 1
for clave, valor in dicc1.items(): 
    print ("La persona", i, "tiene el nombre %s " % (clave))
    i += 1

La persona 1 tiene el nombre Eloisa
La persona 2 tiene el nombre Sofia
La persona 3 tiene el nombre Juana
La persona 4 tiene el nombre Alfredo
La persona 5 tiene el nombre Josue
La persona 6 tiene el nombre Octavio

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [18]:
dicc1['Armando'] = 21
dicc1['Frida'] = 19
print(dicc1)

{'Eloisa': 50, 'Sofia': 17, 'Juana': 72, 'Alfredo': 60, 'Josue': 20, 'Octavio': 10, 'Armando': 21, 'Frida': 19}

### Ejercicio sets
Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [25]:
import random

set1 = set()
i = 1
while i <= 100:
    set1.add(random.randint(1,25))
    i += 1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

* En este apartado del ejercicio el set quedaria con a lo maximo 25 numeros por que un set no permite que se repitan elementos

Comprueba la longitud de tu set.

In [26]:
long = len(set1)
print("La longitud del set es:", long)

La longitud del set es: 25

* Esto se complementa con el apartado anterior, al solo poder repetir numeros del 1 al 25 en un set de 100 un numero se tiene que repetir al menos 1 vez, por lo que el tamaño del set nunca va a poder ser 100

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [27]:
lista2 = [random.randint(1,10) for _ in range(5)]
for i in lista2:
    if i in set1:
        print("El valor", i, "si esta en el set inicial")
    else:
        print("El valor", i, "no esta en el set inicial")

El valor 1 si esta en el set inicial
El valor 4 si esta en el set inicial
El valor 3 si esta en el set inicial
El valor 1 si esta en el set inicial
El valor 8 si esta en el set inicial

* Al ser numeros aleatorios del 1 al 10 siempre van a estar en el set inicial por que el set inicial va del 1 al 25.